<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>U2F Authentication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/u2f-api.js"></script>
    <script th:inline="javascript">
/*<![CDATA[*/
var requestData = /*[[${data}]]*/ '';
var request = JSON.parse(requestData);
setTimeout(function() {
    u2f.sign(request.appId,
    request.challenge,
    request.signRequests,
    function(data) {
        if(data.errorCode) {
            alert("U2F failed with error code: " + data.errorCode);
            return;
        }
        document.getElementById('tokenResponse').value = JSON.stringify(data);
        document.getElementById('form').submit();
    });
}, 1000);
/*]]>*/
</script>
</head>
<body>

<main role="main" class="container">

    <div class="template">
    <div class="row" th:if="${authError}">
        <div class="alert alert-primary" role="alert">
            <p th:text="${#auth.u2f.error}" />
        </div>
    </div>
        <h1 th:text="#{u2f.auth.headline}">Authenticate</h1>

        <h2 th:text="#{u2f.touch.button}">Touch your U2F.</h2>

        <form method="post" th:action="@{/u2fauth}" id="form" onsubmit="return false;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="tokenResponse" id="tokenResponse"/>
        </form>

    </div>
</main>
<footer th:replace="fragments :: footer">
</footer>

</body>
</html>